.Hero {
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titleBox {
  position: absolute;
  left: 50%;
  z-index: 3;
}

.title {
  position: relative;
  bottom: 20px;
  left: 45%;
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.3em;
  color: #000000;
}

.subtitle {
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 120px;
  line-height: 1.2em;
  text-transform: lowercase;
}

.subtitle::after {
  position: absolute;
  z-index: -1;
  bottom: 20px;
  content: '';
  display: block;
  width: 85%;
  background-color: #ffc500;
  height: 28px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.imgBox {
  position: relative;
}

.imgBox::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffc500, rgba(255, 255, 255, 0.267));

  opacity: 0.6;
}
