.Feedback {
  position: absolute;
  top: 400px;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 20px;
}

.Feedback::before {
  position: absolute;
  top: 0;
  left: -20px;
  content: '';
  display: block;
  height: 100%;
  background-color: #ffc500;
  width: 2px;
}

.text {
  position: absolute;
  top: 0;
  left: -30px;
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3em;
}

.text::before {
  position: absolute;
  top: 0;
  left: -30px;
  z-index: -2;
  content: '';
  display: block;
  height: 40px;
  width: 40px;
  background-color: #ffc500;
}

.button {
  position: relative;
  padding: 10px 20px;
  width: 200px;
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1em;
  cursor: pointer;
}

.button:not(:last-child) {
  margin-right: 40px;
}

.button:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  z-index: -1;
  display: block;
  transform: skew(20deg);
  background-color: #fff;
  border: 1px solid #ffc500;
  width: 50%;
  height: 100%;

  transition: background-color 700ms ease-in-out;
}

.button:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  display: block;
  transform: skew(20deg);
  background-color: #ffc500;
  border: 1px solid #ffc500;
  width: 50%;
  height: 100%;
}

.button:hover.button:before {
  background-color: #ffc500;
}
